
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    height: 75px;
}
.contenedor {
    justify-content: flex-start;
}
.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    height: 75px;
}
.contenedor2 {
    justify-content: center;
}
.contenedor3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    height: 75px;
}
.contenedor3 {
    justify-content: flex-end;
}

.contenedor4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.cui{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.cui {
    top: 100px;
}
.cui2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.cui2 {
    top: 105px;
}
.cui3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.cui3 {
    top: 110px;
}
.cui4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.contenedor4 {
    height: 600px;
    top: 75px;
}
.cui4 {
    top: 115px;
}
.cui5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
}
.cui5 {
    top: 120px;
}


.contenedor img, .contenedor2 img, .contenedor3 img, .contenedor4 img, .cui img, .cui2 img, .cui3 img, .cui4 img, .cui5 img {
    max-width: 100%;
    height: auto;
}

.contenedor img,.contenedor3 img {
    width: 200px;
    height: 75px;
}

.contenedor2 img {
    width: 275px;
    height: 75px;
}

.contenedor4 img {
    width: 1300px;
    height: 600px;
}

.cui img, .cui2 img, .cui3 img, .cui4 img, .cui5 img {
    width: 1300px;
    height: 300px;
}

@media screen and (max-width: 767px) {
    .contenedor img, .contenedor2 img, .contenedor3 img, .contenedor4 img, .cui img, .cui2 img, .cui3 img, .cui4 img, .cui5 img {
        width: 100%;
        height: auto;
    }

    .contenedor, .contenedor2, .contenedor3, .contenedor4, .cui, .cui2, .cui3, .cui4, .cui5 {
        position: relative;
        top: auto;
    }
}